<nav>
  <div class="nav-wrapper black">
    <a class="brand-logo text-palace left">PALACE EVENTUAL</a>
    <ul class="right">
      <li>
        <a routerLink="/home">
          <i class="material-icons">arrow_back</i>
        </a>
      </li>
    </ul>
  </div>
</nav>
<div class="container">
  <div class="row">
    <div class="col m2"></div>
    <div class="col s12 m8">
      <form class="col s12" [formGroup]="form" novalidate>
        <div class="row">
          <div class="col s12">
            <h5 class="center-align text-noodle big">Ingrese sus datos de usuario</h5>
          </div>
          <div class="input-field col s12">
            <i class="material-icons prefix">email</i>
            <input id="icon_telephone" type="email" formControlName="email" data-length="50" [(ngModel)]="user.email">
            <label for="icon_telephone" data-error="El mail no es válido">Correo electrónico</label>
          </div>
          <div class="input-field col s12">
            <i class="material-icons prefix">vpn_key</i>
            <input id="icon_password" type="password" formControlName="password" data-length="50" [(ngModel)]="user.password">
            <label for="icon_telephone" data-error="El contraseña inválida">Contraseña</label>
          </div>
        </div>
        <button class="btn waves-effect waves-red send-btn-margin hoverable green darken-1" (click)="submitOnClick()" [disabled]="form.invalid">Enviar</button>
        <button class="btn waves-effect waves-red btn-test hoverable light-blue darken-1" (click)="setTestValue()">Cliente</button>
        <button class="btn waves-effect waves-red btn-test hoverable light-blue darken-1" (click)="setTestValueForAttendant()">Encargado</button>
        <button class="btn waves-effect waves-red btn-test hoverable light-blue darken-1" (click)="setTestValueForEmployee()">Empleado</button>
        <button class="btn waves-effect waves-red btn-test hoverable light-blue darken-1" (click)="setTestValueForAdmin()">Administrador</button>
      </form>
      <!-- Spinner -->
      <div class="progress" *ngIf="showSpinner">
        <div class="indeterminate"></div>
      </div>
    </div>
  </div>
  <div class="col m2"></div>
</div>
<app-footer></app-footer>

<!-- Modal for error messages -->
<div id="modalErrorMsgr" class="modal">
  <div class="modal-content green darken-4">
    <h4 class="center-align white-text">{{headerMsj}}</h4>
  </div>
  <div class="modal-footer">
    <a class="modal-action modal-close waves-effect waves-green btn-flat">Continuar</a>
  </div>
</div>
