<nav>
  <div class="nav-wrapper black">
    <a class="brand-logo text-palace left">PALACE EVENTUAL</a>
    <ul id="nav-mobile" class="right hide-on-small-and-down">
      <li>
        <a routerLink="/login" class="hoverable">Ingresar</a>
      </li>
      <li>
        <a routerLink="/register" class="hoverable">Registrarse</a>
      </li>
    </ul>
  </div>
</nav>

<div id="index-banner" class="parallax-container">
  <div class="section no-pad-bot subtitle-transparent-container">
    <div class="container">
      <br>
      <br>
      <h1 class="header center white-text text-palace">Salón de eventos</h1>
      <div class="row center">
        <h5 class="header col s12 light white-text ">Casamientos, cumpleaños, despedidas de fin de año y todo tipo de eventos.</h5>
      </div>
      <div class="row center">
        <a href="http://materializecss.com/getting-started.html" id="download-button" class="btn-large waves-effect waves-light deep-purple darken-4 hoverable">Ver salones</a>
      </div>
      <br>
      <br>

    </div>
  </div>
  <div class="parallax">
    <img src="assets/img/salon1.jpg">
  </div>
</div>

<div class="container">
  <div class="section">

    <!--   Icon Section   -->
    <div class="row">
      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center brown-text">
            <i class="material-icons">date_range</i>
          </h2>
          <h5 class="center">Reservas</h5>

          <p class="light">Elegí tu lugar ideal en la fecha que necesites.Tenemos salones fácilmente adaptables al tipo de evento que quieras
            realizar. Desde eventos para niños, casamientos, eventos empresariales, despedidas de fin de año, cumpleaños,
            despedidas de solter@s, etc. La mejor ambientación diseñada por expertos.</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center brown-text">
            <i class="material-icons">audiotrack</i>
          </h2>
          <h5 class="center">Sonido e iluminación</h5>

          <p class="light">Contamos con profesionales en técnicas de efectos audiovisuales y equipos de ultima generación para lograr verdaderas
            experiencias únicas e inolvidables.</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center brown-text">
            <i class="material-icons">settings</i>
          </h2>
          <h5 class="center">Eventos a tu medida</h5>

          <p class="light">Te brindamos asesoramiento para llevar tus ideas adelante y te ofrecemos los servicios que necesites. Podés reservar
            exclusivamente el salón o incluir la vajilla, cristaleria, catering, animaciónes, sonido y luces.</p>
        </div>
      </div>
    </div>

  </div>
</div>

<div class="parallax-container">
  <div class="parallax">
    <img src="assets/img/dj3.jpg">
  </div>
</div>

<div class="section white">
  <div class="row container">
    <h2 class="header">Servicios online</h2>
    <p class="grey-text text-darken-3 lighten-3">Podés verificar la disponibilidad de nuestros salones en la fecha que estás buscando, incluso realizar la reserva en
      el acto. Solamente necesitás estar registrado y es totalmente gratis.</p>
  </div>
</div>

<div class="parallax-container">
  <div class="parallax">
    <img src="assets/img/iluminacion5.jpg">
  </div>
</div>

<app-footer></app-footer>

<div class="fixed-action-btn toolbar hide-on-med-and-up">
  <a class="btn-floating btn-large deep-purple darken-2">
    <i class="large material-icons">menu</i>
  </a>
  <ul>
    <li class="waves-effect waves-light">
      <a href="#!" class="btn waves-effect waves-light">Ingresar</a>
    </li>
    <li class="waves-effect waves-light">
      <a routerLink="/register" class="btn waves-effect waves-light">Registrarse</a>
    </li>
  </ul>
</div>