<ul id="slide-out" class="side-nav">
  <li>
    <div class="user-view">
      <div class="background">
        <img src="assets/img/bg1-menu-aside2.jpg">
      </div>
        <a><span class="white-text big text-noodle ">DATOS DEL USUARIO</span></a>
        <a><span class="white-text name">{{user.username}}</span></a>
        <a><span class="white-text email">{{user.email}}</span></a>
    </div>
  </li>
    <li><a><i class="material-icons">cloud</i><span class="text-noodle big">MENU</span></a></li>
    <li *ngFor="let permission of permissions"><a routerLink="/registered-user/{{permission.uri}}" routerLinkActive="active">{{permission.description}}</a></li>
    <li><a (click)="logout()">Cerrar sesión</a></li>
  </ul>
  
  <nav>
    <div class="nav-wrapper deep-purple darken-2">
      <a class="brand-logo text-palace left">PALACE EVENTUAL</a>
      <ul id="nav-mobile" >
        <li class="right hide-on-med-and-down"><a (click)="logout()">Cerrar sesión</a></li><li class="right"><a data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a></li>
        <li *ngFor="let permission of permissions" class="right hide-on-med-and-down" ><a routerLink="/registered-user/{{permission.uri}}" routerLinkActive="active">{{permission.description}}</a></li>
      </ul>
    </div>
  </nav>
  <router-outlet></router-outlet>
  <app-footer></app-footer>

