<div class="container">
  <div class="row">
    <div class="col m2"></div>
    <div class="col s12 m8">
      <div class="col s12 ">
        <ul class="tabs tabs-fixed-width black">
          <li class="tab col s3">
            <a href="#test1" class="white-text text-noodle ">
              <span class="tab-header-text-size">Nuevo</span>
            </a>
          </li>
          <li class="tab col s3">
            <a href="#test2" class="white-text text-noodle">
              <span class="tab-header-text-size">Eliminar</span>
            </a>
          </li>
          <li class="tab col s3">
            <a href="#test3" class="white-text text-noodle">
              <span class="tab-header-text-size">Modificar</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="col m2"></div>
  </div>
</div>
<div id="test1" class="col s12"><app-admin-users-register></app-admin-users-register></div>
<div id="test2" class="col s12"><app-admin-users-delete></app-admin-users-delete></div>
<div id="test3" class="col s12"><app-admin-users-update></app-admin-users-update></div>
