<nav>
  <div class="nav-wrapper black">
    <a class="brand-logo text-palace left" routerLink="/home">PALACE EVENTUAL</a>
    <ul id="nav-mobile" class="right hide-on-small-and-down">
      <li>
        <a routerLink="/login" class="hoverable">Ingresar</a>
      </li>
      <li>
        <a routerLink="/register" class="hoverable">Registrarse</a>
      </li>
    </ul>
  </div>
</nav>
<div class="fixed-action-btn toolbar hide-on-med-and-up">
  <a class="btn-floating btn-large deep-purple darken-2">
    <i class="large material-icons">menu</i>
  </a>
  <ul>
    <li class="waves-effect waves-light">
      <a routerLink="/login" class="btn waves-effect waves-light">Ingresar</a>
    </li>
    <li class="waves-effect waves-light">
      <a routerLink="/register" class="btn waves-effect waves-light">Registrarse</a>
    </li>
  </ul>
</div>