<nav>
  <div class="nav-wrapper black">
    <a href="#!" class="brand-logo">Registro</a>
    <ul class="right">
      <li>
        <a routerLink="/home">
          <i class="material-icons">arrow_back</i>
        </a>
      </li>
    </ul>
  </div>
</nav>
<div class="container">
  <form class="col s12" [formGroup]="form" novalidate>
    <div class="row">
      <div class="col s12">
        <h5>Datos del nuevo usuario</h5>
      </div>
      <div class="input-field col s12">
        <i class="material-icons prefix">edit</i>
        <input id="icon_prefix" type="text" formControlName="firstname" data-length="50" [(ngModel)]="user.firstname">
        <label for="icon_prefix" data-error="Usuario no válido">Nombre/s</label>
      </div>
      <div class="input-field col s12">
        <i class="material-icons prefix">edit</i>
        <input id="icon_prefix" type="text" formControlName="lastname" data-length="50" [(ngModel)]="user.lastname">
        <label for="icon_prefix" data-error="Usuario no válido">Apellido</label>
      </div>
      <div class="input-field col s12">
        <i class="material-icons prefix">email</i>
        <input id="icon_telephone" type="email" formControlName="email" data-length="50" [(ngModel)]="user.email">
        <label for="icon_telephone" data-error="El mail no es válido">Correo electrónico</label>
      </div>
      <div class="input-field col s12">
        <i class="material-icons prefix">account_circle</i>
        <input id="icon_prefix" type="text" formControlName="username" data-length="50" [(ngModel)]="user.username">
        <label for="icon_prefix" data-error="Usuario no válido">Nombre de usuario</label>
      </div>
      <div class="input-field col s12">
        <i class="material-icons prefix">vpn_key</i>
        <input id="icon_telephone" type="password" formControlName="password" data-length="50" [(ngModel)]="user.password">
        <label for="icon_telephone" data-error="El contraseña inválida">Contraseña</label>
      </div>
    </div>
    <!-- Datos del domicilio -->
    <div class="col s12">
      <h5>Datos del domicilio</h5>
    </div>
    <div class="input-field col s12">
      <input id="icon_prefix" type="text" formControlName="city" data-length="50">
      <label for="icon_prefix" data-error="Usuario no válido">Ciudad/Localidad</label>
    </div>
    <div class="input-field col s12">
      <input id="icon_prefix" type="text" formControlName="street" data-length="50">
      <label for="icon_prefix" data-error="Usuario no válido">Calle</label>
    </div>
    <div class="input-field col s12">
      <input id="icon_prefix" type="text" formControlName="number" data-length="10">
      <label for="icon_prefix" data-error="Usuario no válido">Número</label>
    </div>
    <button class="btn waves-effect waves-red send-btn-margin hoverable light-blue darken-1" (click)="submitOnClick()">Enviar</button>
    <button class="btn waves-effect waves-red btn-test hoverable light-blue darken-1" (click)="setTestValue()">Valores de prueba</button>
  </form>
  <!-- Spinner -->
  <div class="progress" *ngIf="showSpinner">
    <div class="indeterminate"></div>
  </div>
</div>
<app-footer></app-footer>

<!-- Modal for error messages -->
<div id="modalErrorMsgr" class="modal">
  <div class="modal-content red darken-4">
    <h4 class="center-align white-text">{{headerMsj}}</h4>
    <p *ngFor="let msj of errorMessages" class="center-align white-text">{{msj}}</p>
  </div>
  <div class="modal-footer">
    <a class="modal-action modal-close waves-effect waves-green btn-flat">Continuar</a>
  </div>
</div>